*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #404040;
  color: white;
  

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
