.category_click_page{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 210px;
    
    top: 20%;
    
    flex: 1;
    
}
#df{
    
    font-size: x-large;
    margin-left: 150px;
    
    position: fixed;
    
    z-index: 1;
    
}
.category_click_page img{
    width: 150px;
    height: 200px;
}
#df{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;

}
#df i{
    padding-top: 4px;
    box-sizing: border-box;
}